<ion-header>
  <ion-navbar>
      <ion-buttons end>
          <button ion-button [disabled]="f.invalid" (click)="updateUserProfile()">Done</button>
      </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <img class="img" (click)="presentActionSheet()" *ngIf="currentUser?.photoProfil"  [src]="serverURL+currentUser?.photoProfil"  width="200px" />
  <img class="img" (click)="presentActionSheet()" *ngIf="!currentUser?.photoProfil" [src]="'../../assets/imgs/880.png'"  width="200px" />
  <form novalidate #f="ngForm">

  <ion-list style="margin-top: 50px;">


    <ion-item>
          <ion-label color="primary" stacked>Name</ion-label>
        <ion-input name="full_name" [(ngModel)]="currentUser.name" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" stacked>Status</ion-label>
        <ion-input name="status" [(ngModel)]="currentUser.status_text" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" stacked>Phone Number</ion-label>
        <ion-input name="phone" [(ngModel)]="currentUser.phone" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
        <ion-input name="email" [(ngModel)]="currentUser.email" disabled="true" ></ion-input>
      </ion-item>

  </ion-list>
  </form>
  <button class="but" (click)="goToChangePassword()" ion-button>Change Password</button>

</ion-content>
