page-groups {
.item-ios ion-thumbnail ion-img,
.item-ios ion-thumbnail img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.item-md ion-thumbnail ion-img,
.item-md ion-thumbnail img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.list .list-ios {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  #notification-button {
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
  }


  #notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
  }
.bar {
  background-color: #eeefef;
  color:#828282;
  font-size: 16px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
}
