page-settings {

.item-ios ion-thumbnail ion-img,
.item-ios ion-thumbnail img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.item-md ion-thumbnail ion-img,
.item-md ion-thumbnail img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.icons {
    color: #55acee;
     font-size: 35px;
     margin-left: 10px;
}
}
