<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <ion-item (click)="edit()">
            <ion-thumbnail item-start>
          <img *ngIf="currentUser?.photoProfil"  [src]="serverURL+currentUser?.photoProfil"  width="200px" />
          <img *ngIf="!currentUser?.photoProfil" [src]="'assets/imgs/880.png'"  width="200px" />
          </ion-thumbnail>
          <h2>{{currentUser?.name}}</h2>
          <p style="margin-top: 10px;">{{currentUser?.status_text}}</p>
          <ion-icon name="arrow-forward" item-end></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item style="padding-top: 2px;padding-bottom: 2px;" (click)="wallpaper()">
            <ion-icon class="icons" name="chatbubbles" item-start></ion-icon>
            <h2>Chat Wallpaper</h2>
            <ion-icon name="arrow-forward" item-end></ion-icon>
          </ion-item>

          <ion-item style="padding-top: 2px;padding-bottom: 2px;">
              <ion-icon class="icons" name="notifications" item-start></ion-icon>
              <ion-label>Notification</ion-label>
              <ion-toggle [(ngModel)]="isToggled"  (ionChange)="changeNoti()"></ion-toggle>
            </ion-item>

            <ion-item style="padding-top: 2px;padding-bottom: 2px;" (click)="settingGroups()">
                <ion-icon class="icons"name="contacts" item-start></ion-icon>
                <h2>Setting Groups</h2>
                <ion-icon name="arrow-forward" item-end></ion-icon>
              </ion-item>

              <ion-item style="padding-top: 2px;padding-bottom: 2px;" (click)="twtchat()">
                  <ion-icon class="icons" name="information-circle" item-start></ion-icon>
                  <h2>Help</h2>
                  <ion-icon name="arrow-forward" item-end></ion-icon>
                </ion-item>

                <ion-item style="padding-top: 2px;padding-bottom: 2px;" (click)="logout()">
                      <ion-icon class="icons"name="log-out" item-start></ion-icon>
                      <h2>Log Out</h2>
                      <ion-icon name="arrow-forward" item-end></ion-icon>
                    </ion-item>

    </ion-list>


</ion-content>
