<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button (click)="addfrinds()" ion-button icon-only><ion-icon name="add"></ion-icon></button>
        </ion-buttons>
      <ion-title>Friends</ion-title>
      <ion-buttons start>
          <button (click)="pendingfriends()" ion-button id="notification-button" icon-only>
            <ion-icon name="notifications">
              <ion-badge id="notifications-badge"
                         *ngIf="this.svc?.userData?.users_pending&&this.svc?.userData?.users_pending.length>0"
                         color="danger">{{this.svc?.userData?.users_pending?.length}}
              </ion-badge>
            </ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>


  <ion-list>
      <ion-item *ngFor="let friend of this.svc.userData['users']| search : terms" navPush="ContactInfoPage"
                [navParams]="{id:friend.user_id}">
          <ion-thumbnail item-start>
        <img *ngIf="friend?.photo_profil" [src]="serverURL+friend?.directory+friend?.photo_profil||'../../assets/imgs/880.png'" width="200px" />
        <img *ngIf="!friend?.photo_profil" [src]="'../../assets/imgs/880.png'" width="200px" />


        </ion-thumbnail>
        <h2 class="center">{{friend?.name}}</h2>
        <p style="margin-top: 10px;">{{friend?.status_text}}</p>
      </ion-item>


  </ion-list>

</ion-content>
