page-signup-email {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 50px;
  }
  .email {
    margin-right: 56px;margin-left: -95px;font-size: 30px;
  }
  .facebook{
    margin-right: 50px;margin-left: -70px;font-size: 30px;
  }
  .google{
    margin-right: 56px;margin-left: -80px;font-size: 30px
  }
}
